.container{
    background-color:darkgrey;
    padding: 10px;
    max-width: 60%;
}
form{
    margin: 20px;
    font-weight: 600;
    text-align: right;
    color: aliceblue;
}
h1, h2{
    margin: 20px;
    text-align: center;
    color: yellow;
}
a{
    font-weight: 600;
    text-align: center;
    color: blue;
    margin: 70px;
}
.tarjeta{
    font-weight: 600;
    text-align: center;
    color:aliceblue;
}